<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.dao.CertificateDao" >
    <resultMap id="BaseResultMap" type="com.wang.entity.Certificate" >
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="sex" property="sex" jdbcType="VARCHAR" />
        <result column="idcard" property="idcard" jdbcType="VARCHAR" />
        <result column="number" property="number" jdbcType="VARCHAR" />
        <result column="organization" property="organization" jdbcType="VARCHAR" />
        <result column="ctype" property="ctype" jdbcType="VARCHAR" />
        <result column="signdate" property="signdate" jdbcType="VARCHAR" />
        <result column="headpic" property="headpic" jdbcType="VARCHAR" />
        <result column="begindate" property="begindate" jdbcType="VARCHAR" />
        <result column="enddate" property="enddate" jdbcType="VARCHAR" />
        <result column="validtime" property="validtime" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="telphone" property="telphone" jdbcType="VARCHAR" />
        <result column="is_del" property="is_del" jdbcType="VARCHAR" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List" >
      cid,name,sex ,idcard,number,organization,ctype,signdate,headpic,begindate,enddate,validtime
    </sql>

    <select id="selectcertificateby" resultMap="BaseResultMap" >
        select  <include refid="Base_Column_List" />
        from certificate

        where idcard=#{idcard}  and name=#{name} and number=#{number}
    </select>


</mapper>

