<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.dao.CompetitionDao" >
    <resultMap id="BaseResultMap" type="com.wang.entity.Competition" >
        <result column="id" property="id" jdbcType="VARCHAR" />
        <result column="competionname" property="competionname" jdbcType="VARCHAR" />
        <result column="studentname1" property="studentname1" jdbcType="VARCHAR" />
        <result column="studenttel1" property="studenttel1" jdbcType="VARCHAR" />
        <result column="studentclass1" property="studentclass1" jdbcType="VARCHAR" />

        <result column="studentname2" property="studentname2" jdbcType="VARCHAR" />
        <result column="studenttel2" property="studenttel2" jdbcType="VARCHAR" />
        <result column="studentclass2" property="studentclass2" jdbcType="VARCHAR" />

        <result column="studentname3" property="studentname3" jdbcType="VARCHAR" />
        <result column="studenttel3" property="studenttel3" jdbcType="VARCHAR" />
        <result column="studentclass3" property="studentclass3" jdbcType="VARCHAR" />

        <result column="regtime" property="regtime" jdbcType="VARCHAR" />
        <result column="isdel" property="isdel" jdbcType="VARCHAR" />
    </resultMap>


    <insert id="addCompetition" parameterType="com.wang.entity.Competition" >
        INSERT INTO competition (competionname,studentname1 ,studenttel1,studentclass1,studentname2 ,studenttel2,studentclass2,studentname3 ,studenttel3,studentclass3,regtime,isdel)
        SELECT
        #{competionname},
        #{studentname1},
        #{studenttel1},
        #{studentclass1},
        #{studentname2},
        #{studenttel2},
        #{studentclass2},
        #{studentname3},
        #{studenttel3},
        #{studentclass3},
        #{regtime},
        #{isdel}
        FROM DUAL WHERE NOT EXISTS (SELECT id FROM  competition WHERE competionname = #{competionname,jdbcType=VARCHAR} and studentname1 = #{studentname1,jdbcType=VARCHAR} )
    </insert>



</mapper>

