<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.dao.CompetitionDao" >
    <resultMap id="BaseResultMap" type="com.wang.entity.Competition" >
        <result column="id" property="id" jdbcType="INTEGER" />
        <result column="competionname" property="competionname" jdbcType="VARCHAR" />
        <result column="teamname" property="teamname" jdbcType="VARCHAR" />
        <result column="studentname1" property="studentname1" jdbcType="VARCHAR" />
        <result column="studenttel1" property="studenttel1" jdbcType="VARCHAR" />
        <result column="studentclass1" property="studentclass1" jdbcType="VARCHAR" />

        <result column="studentname2" property="studentname2" jdbcType="VARCHAR" />
        <result column="studenttel2" property="studenttel2" jdbcType="VARCHAR" />
        <result column="studentclass2" property="studentclass2" jdbcType="VARCHAR" />

        <result column="studentname3" property="studentname3" jdbcType="VARCHAR" />
        <result column="studenttel3" property="studenttel3" jdbcType="VARCHAR" />
        <result column="studentclass3" property="studentclass3" jdbcType="VARCHAR" />

        <result column="regtime" property="regtime" jdbcType="VARCHAR" />
        <result column="isdel" property="isdel" jdbcType="VARCHAR" />
    </resultMap>


    <sql id="Base_Column_List" >
        id as cid,competionname,teamname,studentname1 ,studenttel1,studentclass1,studentname2 ,studenttel2,studentclass2,studentname3 ,studenttel3,studentclass3,regtime,isdel
    </sql>


    <select id="selectCompetitionbystudent1" resultMap="BaseResultMap" parameterType="com.wang.entity.Competition">
        select  <include refid="Base_Column_List" />
        from competition where studentname1=#{studentname1} and  studenttel1=#{studenttel1}
    </select>

    <select id="selectCompetitionbystudent2" resultMap="BaseResultMap" parameterType="com.wang.entity.Competition">
        select  <include refid="Base_Column_List" />
        from competition where studentname1=#{studentname2} and  studenttel1=#{studenttel2}
    </select>

    <select id="selectCompetitionbystudent3" resultMap="BaseResultMap" parameterType="com.wang.entity.Competition">
        select  <include refid="Base_Column_List" />
        from competition where studentname1=#{studentname3} and  studenttel1=#{studenttel3}
    </select>

    <insert id="addCompetition" parameterType="com.wang.entity.Competition" >
        INSERT INTO competition (competionname,teamname,studentname1 ,studenttel1,studentclass1,studentname2 ,studenttel2,studentclass2,studentname3 ,studenttel3,studentclass3,regtime,isdel)
        SELECT
        #{competionname},
        #{teamname},
        #{studentname1},
        #{studenttel1},
        #{studentclass1},
        #{studentname2},
        #{studenttel2},
        #{studentclass2},
        #{studentname3},
        #{studenttel3},
        #{studentclass3},
        #{regtime},
        #{isdel}
        FROM DUAL WHERE NOT EXISTS (SELECT id FROM  competition WHERE competionname = #{competionname,jdbcType=VARCHAR} and studentname1 = #{studentname1,jdbcType=VARCHAR} )
    </insert>


    <select id="listCompetition" resultType="com.wang.entity.Competition"  parameterType="java.lang.Integer"  >
        select  <include refid="Base_Column_List" />
        from competition
    </select>


    <delete id="delCompetition"   parameterType="java.lang.Integer"  >
       delete   from competition  where id=#{id}
    </delete>


</mapper>

