<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wang.dao.SolutionDao" >
<resultMap id="BaseResultMap" type="com.wang.entity.Solution" >
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="overview" property="overview" jdbcType="VARCHAR" />
</resultMap>
<sql id="Base_Column_List" >
    sid ,stid, solution_title, solution_text, publish_time, image_url, solution_link
</sql>

<select id="solutionslist" resultType="com.wang.entity.Solution"  parameterType="java.lang.Integer"  >
    select  <include refid="Base_Column_List" />
    from solution
</select>

<select id="selectsolutionbysid" resultType="com.wang.entity.Solution"  parameterType="java.lang.Integer"  >
    select  <include refid="Base_Column_List" />
    from solution
    where sid= #{sid,jdbcType=INTEGER};
</select>

</mapper>



